{
  "name": "@openape/${node_pkg}",
  "version": "${node_version}",
  "license": "MIT",
  "exports": {
    ".": "./bin/mod.ts"
  },
  "publish": {
    "include": ["bin/", "README.md", "LICENSE"]
  }
}
