{
  "name": "@mo7yw4ng/${node_pkg}",
  "version": "${node_version}",
  "description": "openape binary for ${node_os} ${node_arch}",
  "os": ["${node_os}"],
  "cpu": ["${node_arch}"],
  "files": [
    "bin/",
    "README.md",
    "LICENSE"
  ],
  "repository": {
    "type": "git",
    "url": "https://github.com/MO7YW4NG/openape"
  },
  "license": "MIT"
}
